{:main transmute.app
 :output-to "target/public/cljs-out/app.js"
 :output-dir "target/public/cljs-out"
 :externs ["preact/preact-externs.js"]
 :foreign-libs [{:file "preact/preact.min.js"
                 :provides ["preact"]}]}
