{:deps    {;; Clojure
           org.clojure/clojure       {:mvn/version "1.11.1"}
           org.clojure/clojurescript {:mvn/version "1.11.60"}
           ;; Fig wheel
           com.bhauman/figwheel-main {:mvn/version "0.2.18"}
           org.slf4j/slf4j-nop       {:mvn/version "1.7.30"}}
 :paths   ["src" "resources" "target"]
 :aliases {;; Development builds
           :dev   {:main-opts ["-m" "figwheel.main"
                               "-b" "app-dev"
                               "-r"]}
           ;; Production builds
           :prod
           {:main-opts ["-m" "figwheel.main"
                        "-O" "advanced"
                        "-bo" "app-prod"
                        ;; "-s" start server
                        ]}
           ;; Scripts
           :build {:deps
                   {io.github.clojure/tools.build
                    {:git/tag "v0.7.7" :git/sha "1474ad6"}}
                   :ns-default build}}}
